/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.box {
    position: relative;
    width: 370px;
    height: 450px;
    background-color: #1c1c1c;
    border-radius: 50px 5px;
    overflow: hidden;
}


